@model CompanyWebManager.Models.Transaction

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="TransactionID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TransactionID" class="form-control" />
                <span asp-validation-for="TransactionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductID" class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductNetPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductNetPrice" class="form-control" />
                <span asp-validation-for="ProductNetPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductGrossPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductGrossPrice" class="form-control" />
                <span asp-validation-for="ProductGrossPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

