@model IndexViewModel
@{
    ViewData["Title"] = "Zarządzaj kontem";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Zmień ustawienia swojego konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Zmień</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Utwórz</a>
            }
        </dd>
        <dt>Loginy zewnętrzne:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Zarządzaj</a>
        </dd>
    </dl>
</div>
