@using Org.BouncyCastle.Asn1.X509
@model CompanyWebManager.Models.ViewModels.ProductsViewModel

@{
    ViewData["Title"] = "Edytuj produkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytuj produkt</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Html.DisplayText(Model.Name)</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="ownerID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NetPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NetPrice" class="form-control" />
                <span asp-validation-for="NetPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GrossPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GrossPrice" class="form-control" />
                <span asp-validation-for="GrossPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

